*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    
}
.header {
    background-color: rgb(22, 122, 122);
    height: 130px;
}
/*nav*/

.nav {
    float: right;
    margin-right: 50px;
    
}

.nav li {
    display: inline-block;
    padding: 30px 30px 0 20px;


}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 28px;

}

.nav img {
    width: 45px;
    padding-left: 50px;
}

/*fim do nav*/


.fundo {
    background-color:  rgba(12, 128, 128, 0.233); 
    height: 850px;
}
.back_color {
    margin: 0 0 0 180px;
    float: left;
    height: 600px;
    width: 600px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background: linear-gradient(45deg, rgb(200, 255, 255), #468c92, #5ec0bb,  #468c92,  rgb(200, 255, 255));
     /* cor de fundo gradiente */
}
b {
    font-size: 20px;
}
#mais {
    padding: 15px;
    margin: 10px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    transition: 0.3s;
    color: rgb(22, 122, 122);
    border-color: rgb(22, 122, 122);
    background-color: white;
    border-style: solid;
    cursor: pointer;
}
#mais:hover {
    background-color: rgb(22, 122, 122);
    color: white;
    border-color: rgb(255, 255, 255);
}
#menos {
    padding: 15px;
    margin: 10px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    transition: 0.3s;
    color: rgb(22, 122, 122);
    border-color: rgb(22, 122, 122);
    background-color: white;
    border-style: solid;
    cursor: pointer;
}
#menos:hover {
    background-color: rgb(22, 122, 122);
    color: white;
    border-color:rgb(255, 255, 255);
}

#numF {
    font-size: 50px;
    padding: 100px;
}
#ent {
    height: 30px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    transition: 0.3s;
    font-size: 20px;
}
#ent:hover{
    background-color:rgb(200, 255, 255) ;
}

#button_cal {
    height: 40px;
    width: 140px;
    background-color:rgb(255, 255, 255) ;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(22, 122, 122);
    color: rgb(22, 122, 122);
}
button span {
    font-size: 20px;
}

#button_cal:hover {
    background-color:rgb(22, 122, 122) ;
    border-color:rgb(255, 255, 255);
    color: white;
}


