/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 85%; 
    margin: auto;
    height: 50px;
}

/* Header */

.header {
    background-color: #2EC4B6;
    height: 90px;
    padding-top: 30px;
    border-bottom: rgb(0, 0, 0) solid 5px;
}

.header .nav .menu-atual a, 
.header span{
  background-color:white;
  border-radius: 20px;
  color: #2EC4B6;
}

/* Nav */

.nav {
    float: right;
}
.nav ul
{
  margin: 0;
  float: right;
}


.nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.nav li{
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 20px 20px;
}


/* Fim Nav */

/*Imagem de fundo */

.imagem_fundo{
    background-image: url(tecnologia.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    min-height: 700px;
    border-bottom: rgb(0, 0, 0) solid 5px;

}

.imagem_fundo h1{
    margin: 0;  
    padding-top: 100px;
  }

.imagem_fundo h4{  
    font-size: 20px;
}
.imagem_fundo p{
    font-size: 17px;

}

/*Fim Imagem de fundo */

/*Botão Saiba Mais*/

.saiba_mais{
    background-color:  #2EC4B6;
    width: 415px;
    border-radius: 15px

}

.saiba_mais a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
}

/* Valores */

.valores {

overflow: auto;
background-color:#84ebe0 ;
height: 700px;
border-bottom: rgb(0, 0, 0) solid 5px;

}

.valores .box-item {
    text-align: center;
    width: 250px;
    float: left;
    margin: 140px 140px 90px 140px;
    font-size: 17px;
    
}

.valores img {
    height: 250px;
}

/*Fim Valores */

/* Segunda imagem de fundo*/

.func {
background-image: url(func.jpg);
background-size: cover;
background-repeat: no-repeat;
text-align: left;
min-height:700px;
border-bottom: rgb(0, 0, 0) solid 5px;

}

.func h1 {
    margin: 0;
    padding-top: 100px; 
    
}

.func .saiba_mais{
    background-color:  #2EC4B6;
    width: 450px;
    border-radius: 15px

}

.func .saiba_mais a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 200px;
}

/* Fim da Segunda imagem de fundo*/

/*Ultima*/ 


.ultima {
    background-color:#2EC4B6;
    height: 300px;
    


}

.ultima {
    margin: 0;
    padding: 50px;
    text-align: center;
    overflow: auto;
    
}


.ultima .saiba_mais{
    background-color: white;
    width: 133px;
    border-radius: 15px;

}

.ultima .saiba_mais a{
    text-decoration: none;
    color:#2EC4B6;
    font-weight: 200px;
    font-size: 20px;
    text-align: center;
}



/*Fim da Ultima*/