/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
}

#botao{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    transition: 0.3s;           /*tempo de transição para mudar*/
    border-radius: 60px;        /*arredonda o botao*/
    cursor: pointer;             /* maozinha ao passar o mouse por cima */
    border-width: 1px;
    font-size: 30px;
 }


 #botao:hover{
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
 }

/* barra de navegação */
.nav ul img {
    padding: 30px 0px 0px 0px;
    margin: 0px;

}

.nav ul {
    margin: 0;
    text-decoration: none;
    padding: 0px;
    float: right;
}
#icone {
    height: 60px;
}

#icone:hover {
    height: 62px;
}
#logo {
    height: 140px;
}

#logo:hover {
    height: 145px;
}

.nav img {
    padding: 0px;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 0px 5px 5px 20px;
}

.nav li {
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 20px 20px;
    transition: 0.5s;
}
.nav li a:hover {
    color: rgb(116, 116, 116);
}



/* container (limitação do conteudo dentro da pag) */
.container {
    width: 90%;
    margin: auto;
}
/* Header */

.header {
    /* background: linear-gradient(45deg, #686868, #b4b4b4, #3b3b3b, #ffffff, #000000); cor de fundo gradiente  */
    height: 140px;
    background: linear-gradient(45deg, #686868, #b4b4b4, #3b3b3b, #ffffff, #000000);
    border-bottom: rgb(0, 0, 0) solid 5px;
}

.borda {
    border-bottom: rgb(128, 128, 128) solid 3px;
}
.borda_dois {
    border-bottom: rgb(0, 0, 0) solid 5px;
}

/* plano RAP AREA */
.fundo {
    background-image: url('../IMG/bk_show.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}
.plano {
    padding: 20px 0 0 0;
    background-color: rgba(255, 255, 255, 0.863);
    width: 400px;
    height: 600px;
    border-width: 3px;
    border-style:solid ;
    border-color: rgb(168, 173, 97);
}

.plano p{
    width: 350px;
    height: 360px;
    border-style: double;
    border-width: 5px;
    text-align: justify;
    font-size: 16px;
    background-color: rgba(175, 138, 218, 0.623);
}
.plano span{
    font-size: 50px;
    color: rgb(107, 51, 163);
}
#pre {
    color: rgb(96, 38, 172);
    background-color: rgb(227, 215, 253);
    width: 1px;
    border-style: solid;
}

h1{
    color: rgb(47, 13, 92);
    margin: 0;
    padding: 0;
}
#botao {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    height: 50px;
    text-align: 20px;
    transition: 0.3s;        
    border-radius: 60px;        
    cursor: pointer; 
    font-size: 20px; 
    width: 200px;  
}
#botao:hover{
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
}
/* TELA CADASTRO */

.cadastro {
    padding: 20px 0 0 0;
    background-color: rgba(255, 255, 255, 0.863);
    width: 400px;
    height: 600px;
    border-width: 3px;
    border-style:solid ;
    border-color: rgb(168, 173, 97);
}
.cadastro h1{
    font-size: 20px;
}
#ass{
    color: rgb(47, 13, 92);
    font-size: 40px;
}

input {
    height: 30px;
    width: 300px;
    font-size: 15px;
}
input:hover {
    background-color: rgb(226, 226, 226);
}

select {
    height: 30px;
    width: 300px;
    font-size: 15px;
}

#btn_entrar{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    height: 50px;
    text-align: 20px;
    transition: 0.3s;        
    border-radius: 60px;        
    cursor: pointer; 
    font-size: 20px; 
}

#btn_entrar:hover{
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
 }

#volt {
    height: 35px;
    float: left;
}
#volt:hover {
    background-color: white;
    border-radius: 50px;
}





/* EXTRA */

.extra {
    margin: 10px;
}

.extra img {
  height: 50px;
   visibility: hidden;
}

.extra .msg_erro {
    background-color:  #e7b9c4; 
    color: black; 
    visibility: hidden;
}
