/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
}

/* barra de navegação */
.nav ul img {
    padding: 30px 0px 0px 0px;
    margin: 0px;

}

.nav ul {
    margin: 0;
    text-decoration: none;
    padding: 0px;
    float: right;
}
#icone {
    height: 60px;
}

#icone:hover {
    height: 62px;
}
#logo {
    height: 140px;
}

#logo:hover {
    height: 145px;
}

.nav img {
    padding: 0px;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 0px 5px 5px 20px;
}

.nav li {
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 20px 20px;
    transition: 0.5s;
}
.nav li span{
    color:rgb(255, 158, 158);
}

.nav li a:hover {
    color:rgb(255, 158, 158);
}



/* container (limitação do conteudo dentro da pag) */
.container {
    width: 90%;
    margin: auto;
}

/* Header */

.header {
    background: linear-gradient(45deg, #ffdcdc, #521111, #ff9797, #862020, #ffb7b7); /* cor de fundo gradiente */
    height: 140px;
    border-bottom: rgb(0, 0, 0) solid 5px;
}

.borda {
    border-bottom: rgb(148, 98, 98) solid 3px;
}
.borda_dois {
    border-bottom: rgb(0, 0, 0) solid 5px;
}


b {
    background-color: #ffd6d6 ;
    font-size: 30px;
    padding: 0 25px 0 25px;
    border-style: solid;
    border-color: #521111;

}
#but_sair {
    float: left;
    height: 30px;
    width: 100px;
    margin: 20px 0 0 20px;
    cursor: pointer;
    background-color: #fdacac;
    font-size: 18px;
}
#but_sair:hover {
    background-color: #ff6f6f;

}
h2 {
    text-align: center;
    border-style: solid;
    border-color: #521111;
    width: 700px;

}
img {
    height: 400px;
}


.pergunta {
    margin: 50px;
    float: left;
    border-color: #521111;
    border-style: solid;
    border-width: 5px;
   border-radius: 20px;
    width: 700px;
    height: 700px;
    padding: 20px;
}
.pergunta_dois {
    float: right;
    border-color: #521111;
    border-style: solid;
    border-width: 5px;
   border-radius: 20px;
    width: 700px;
    height: 700px;
    padding: 20px;
}
#preto {
    background-color: rgb(58, 58, 58);
}


select {
    height: 30px;
    font-size: 20px;
    border-color:#521111 ;
    border-style: solid;
    border-width: 2px;
}
option {
    text-decoration: none;
    background-color: #fdacac;
}
p {
    font-size: 18px;
}

#but_res {
    float: right;
    height: 80px;
    width: 240px;
    margin: 320px 300px 0 0;
    cursor: pointer;
    background-color: #fdacac;
    font-size: 22px;
}
#but_res:hover {
    background-color: #ff6f6f;
    color: white;

}
#seta {
    float: left;
    height: 100px;
    margin: 300px 0 0 0;
}

#msg {
    font-size: 26px;
    margin: 0 15px 0 15px;
}
#msg_dois {
    font-size: 26px;
    margin: 0 15px 0 15px;
}
#msg_tres {
    font-size: 26px;
    margin: 0 15px 0 15px;
}
#ruim {
    height: 250px;
    margin: 15px 50px 20px 50px;
    border-color: #741919;
    border-style: solid;
    border-radius: 20px;
}
#bom {
    margin: 15px 50px 20px 50px;
    height: 250px;
    border-color: #741919;
    border-style: solid;
    border-radius: 20px;
}
#pft {
    margin: 15px 50px 20px 50px;
    height: 250px;
    border-color: #741919;
    border-style: solid;
    border-radius: 20px;
}
.resultados {
    float: left;
    margin: 150px;
    border-radius: 50px;
    border-color: #741919;
    border-style: solid;
    height: 650px;
    width: 500px;
}

#but_quiz {
    float: right;
    height: 30px;
    width: 180px;
    margin: 10px 20px 10px 10px ;
    cursor: pointer;
    background-color: #b8fdac;
    font-size: 18px;
}
#but_quiz:hover {
    background-color: #3e7723;
}
#but_quiz_dois {
    float: left;
    height: 30px;
    width: 180px;
    margin: 10px 10px 10px 20px ;
    cursor: pointer;
    background-color: #fdacac;
    font-size: 18px;
}
#but_quiz_dois:hover {
    background-color: #ff6f6f;
}