/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
}

.botao{
    font-size: 20px;
    height: 45px;
    width: 120px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;           /*tempo de transição para mudar*/
    border-radius: 20px;        /*arredonda o botao*/
    cursor: pointer;             /* maozinha ao passar o mouse por cima */
 }

 .botao:hover{
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
 }

/* barra de navegação */
.nav ul img {
    padding: 30px 0px 0px 0px;
    margin: 0px;

}

.nav ul {
    margin: 0;
    text-decoration: none;
    padding: 0px;
    float: right;
}
#icone {
    height: 60px;
}

#icone:hover {
    height: 62px;
}
#logo {
    height: 140px;
}

#logo:hover {
    height: 145px;
}

.nav img {
    padding: 0px;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 5px 5px 20px;
}

.nav li {
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 20px 20px;
    transition: 0.5s;
}
.nav li a:hover {
    color: rgb(77, 0, 128);
}



/* container (limitação do conteudo dentro da pag) */
.container {
    width: 90%;
    margin: auto;
}

/* Header */

.header {
    background: linear-gradient(45deg, #dadada, #7a54b8, #e4e0e9, #9d66d1, #330b64); /* cor de fundo gradiente */
    height: 140px;
    border-bottom: rgb(0, 0, 0) solid 5px;
}

/* começo da tela inicial */

.texto_inicio h1 {
    background-color: rgba(255, 255, 255, 0.931);
    border-radius: 20px;
    width: 700px;
    font-size: 40px;
    height: 70px;
    color: rgb(76, 13, 112);
    border-style: solid;
}

.texto_inicio p {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.931);
    border-radius: 20px;
    width: 1100px;
    padding: 10px 0px 10px 0px;
    border-style: double;
}
#negrito_inicio {
    color: rgb(76, 13, 112);
    background-color: rgba(255, 255, 255, 0.849);
    font-size: 25px;
    border-radius: 10px;
    border-style: solid;

}

.imagem_fundo {
    background-image: url('../IMG/canva-lendas.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: auto;
}

.imagem_fundo{
text-align: center;

}

#button_exp {
    font-size: 20px;
    height: 45px;
    width: 300px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;           /*tempo de transição para mudar*/
    border-radius: 20px;        /*arredonda o botao*/
    cursor: pointer;             /* maozinha ao passar o mouse por cima */    
}

#button_exp:hover{
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
}

.borda {
    border-bottom: rgb(133, 82, 192) solid 3px;
}
.borda_dois {
    border-bottom: rgb(0, 0, 0) solid 5px;
}

/* Segundo conteudo da tela inicial */


.fundo_dois {
background-image: url('../IMG/music-rap.jpg');
background-size: cover;
background-repeat: no-repeat;
min-height: auto;
min-height: 850px;

}
.fundo_dois h1{
    text-align: center;
    margin: 0;
    padding: 80px; 
}

.text_fundo_dois {
font-size: 25px;
text-align: right;
width: 500px;
padding: 0px 0px 20px 90px;
}


.album_nacional {
    background-color: rgba(89, 169, 230, 0.287);
    height: 495px;
    width: 495px;
    border-radius: 10%;
    border-style: groove;
    float: left;
}

.album_internacional {
    background-color: rgba(255, 168, 165, 0.418);
    height: 500px;
    width: 500px;
    float: right;
    border-radius: 10%;
    border-style: groove;
}

.album_internacional, .album_nacional, .text_fundo_dois {
    display: inline-block;
    margin: 0px 0px 100px 0px;
    text-align: center;
}

#album_um , #album_dois {
    float: right;
    padding: 20px;
}
#album_tres , #album_quatro {
    float: left;
    padding: 20px;
}
#album_cinco , #album_seis {
    float: right;
    padding: 20px;
}
#album_sete , #album_oito {
    float: left;
    padding: 20px;

}

 .album_nacional img {
    border-radius: 30%;
    height: 200px;
    filter: grayscale(90%);  /*  deixar img preto e branco  */
    transition: 1s;
    cursor: pointer;
 }

.album_nacional img:hover {
    filter: none;
    height: 215px;
}

.album_internacional img {
    border-radius: 30%;
    height: 200px;
    filter: grayscale(90%);
    transition: 1s;
    cursor: pointer;
}

.album_internacional img:hover {
    filter: none;
    height: 215px;
}

#nacional_text {
    padding: 0 0 0 180px;
}
#internacional_text {
    padding: 0 0 0 940px;
}

/* modelo tabela de albuns */
table {
    background-color: rgba(240, 246, 155, 0.924);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}
/* ALBUNS NACIONAIS */
/* ALBUM DJONGA */
#djo {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#djo:hover {
    background-color:rgba(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}


/* ALBUM CORUJA */
#cor {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#cor:hover {
    background-color:rgba(210, 228, 107);;
    border-radius: 50%;
    height: 110px;
}

/* ALBUM BK */
#bka {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#bka:hover {
    background-color:rgba(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}

/* ALBUM RACIONAIS */
#rac {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#rac:hover {
    background-color:rgba(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}

/* ALBUNS INTERNACIONAIS */
/* ALBUM BIG */
#big {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#big:hover {
    background-color:rgb(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}
/* ALBUM PAC */
#pac {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#pac:hover {
    background-color:rgb(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}
/* ALBUM EMINEM */
#eminem {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#eminem:hover {
    background-color:rgb(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}
/* ALBUM 50CENT */
#cent {
    filter: none;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 20px;
    cursor: pointer;
}
#cent:hover {
    background-color:rgb(210, 228, 107);
    border-radius: 50%;
    height: 110px;
}
/* X USADO NOS NACIONAIS */
#x {
    height: 30px;
    transition: 0.3s;
    float:right;
    cursor: pointer;
}

#x:hover {
    height: 32px;
    background-image: url('../IMG/x_dois.png');
}

/* X USADO NOS INTERNACIONAIS */

#x_dois {
    height: 30px;
    transition: 0.3s;
    float:right;
    cursor: pointer;
}

#x_dois:hover {
    height: 32px;
    background-image: url('../IMG/x_dois.png');
}


/* Inicio Cards de noticia */

.fundo_tres {
background: linear-gradient(45deg, #faf9ff, #8a80bd, #d6d6d6, #806a9c, #ffffff);
height: 900px;
}

.cards {
    margin: 0px 50px 0px 50px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 12px rgb(70, 69, 69);
    width: 385px;
}
.cards:hover{
    background-color: #e2e2e2; 
}

/* IMAGEM 1 NOTICIA DJONGA */
.img_card {
    background-image: url('../IMG/djonga_noticia.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}
/* IMAGEM 2 NOTICIA EMINEM */
.img_card_dois {
    background-image: url('../IMG/dr_dree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}
/* IMAGEM 3 NOTICIA PS5 */
.img_card_tres {
    background-image: url('../IMG/flores.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

/* IMAGEM 4 NOTICIA nicki*/
.img_card_quatro {
    background-image: url('../IMG/nicki.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}
/* IMAGEM 5 NOTICIA EMINEM */
.img_card_cinco {
    background-image: url('../IMG/jovem-dex-kayblack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}
/* IMAGEM 6 NOTICIA EMINEM */
.img_card_seis {
    background-image: url('../IMG/Batalha-de-Rap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}




.topo_card {
    padding: 20px;
    padding-top: 0px;
}

.resumo_card {
    color: rgb(117, 117, 117);
}

.conteudo{
    padding: 20px;
}

#button_card {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    border-style: solid;
    transition: 0.3s;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    border-width: 1px;
}
#button_card:hover {
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
    
}

.h1_card{
    text-align: center;
    margin: 0;
    padding: 80px; 
}

#s_um {
    padding: 0 20px 5px 0;
    float: left;
    cursor: pointer;
}

#s_dois:hover {
    height: 55px;
}
#s_qua:hover {
    height: 55px;
 }

#s_dois {
    padding: 0 0 5px 0;
    float: left;
    cursor: pointer;
}

#s_tres {
    padding: 0 0 5px 0;
    float: right;
    cursor: pointer;
}
#s_qua {
    padding: 0 0 5px 0;
    float: right;
    cursor: pointer;
}




/* INICIO RODAPÉ */

.rodape {
background-image: url('../IMG/canva-photo-editor_lenda_dois.png');
background-size: cover;
background-repeat: no-repeat;
height: 500px;
width: 100%;
color: rgb(0, 0, 0);
text-align: center;
align-items: center;
}

#button_rodape{
    font-size: 20px;
    height: 45px;
    width: 320px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background: rgb(96, 38, 172);
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;           /*tempo de transição para mudar*/
    border-radius: 20px;        /*arredonda o botao*/
    cursor: pointer;             /* maozinha ao passar o mouse por cima */
 }

#button_rodape:hover{
    background: rgb(255, 255, 255);
    color: rgb(96, 38, 172);
    border-color: rgb(96, 38, 172);
}

.rodape img {
    height: 50px;
    margin: 0 20px 0 0;
    padding: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.rodape img:hover {
    height: 55px;

}
.rodape_div {
    background-color: rgba(255, 255, 255, 0.801);
    width: 500px;
    height: 300px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    border-style: dashed;
    color: rgb(53, 14, 90);   
}

#seta_rodape {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    float: right;
    background-color: white;
    border-radius: 50%;
}
#seta_rodape:hover{
    background-color: rgb(67, 24, 122);

}

